<html>
<head>
    <title>
        Contactar
    </title>
</head>
<body>
    <h1>Contáctanos</h1>
    <!--Metodo post para luego enviarnos esta informacion a un correo electronico-->
    <form action="/contacto/" method="post">{% csrf_token %}
        <p>Asunto: <input type="text" name="asunto"></p>
        <p>Email: <input type="text" name="email"></p>
        <p>Mensaje: <textarea name="mensaje" id="" cols="30" rows="10"></textarea></p>
        <input type="submit" value="Enviar" />
</body>
</html>